<div id="item-view">
	<div class="row header-wrapper">
		<div class="col-sm-8">
			<h2>Items</h2>
			<p>Manage simple list of items</p>
		</div>
		<div class="col-sm-4">
			<button class="pull-right btn btn-primary">Button</button>
		</div>
	</div>

	<div class="row content-wrapper">
		<div class="col-sm-6">
			<section>
				<h4>
					Items <span class="badge">{{items.items.length}}</span>
					<span loading-spinner="items.inprogress">
						<span class="pull-right glyphicon glyphicon-refresh" aria-hidden="true" ng-click="items.load()"></span>
					</span>
				</h4>

				<form name="itemForm" role="form" class="form-horizontal" ng-submit="add(item)">
					<div class="form-group" show-errors>
						<div class="col-sm-12">
							<div class="input-group">
								<input type="text"
									   class="form-control"
									   name="name"
									   placeholder="Add Item"
									   ng-model="item.name"
									   ng-minlength="1"
									   ng-maxlength="64"> <!--autofocus="autofocus" -->
								<span class="input-group-btn">
									<button class="btn btn-primary" type="submit">Add</button>
								</span>
							</div>
						</div>
					</div>
				</form>
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="item in items.items">
						<span class="pull-right glyphicon glyphicon-trash" aria-hidden="true" ng-click="items.delete(item)"></span>
						{{item.name}}
					</li>
				</ul>
			</section>
		</div>
	</div>
</div>


