<div class="row header-wrapper">
	<div class="col-sm-12">
		<h2>Text File Options</h2>
		<p>Select your text file options</p>
	</div>
</div>
<div class="row content-wrapper">
	<div class="col-md-8 col-md-offset-1">
		<div class="form">
			<label class="checkbox">
				<input type="checkbox" name="textOption" id="inputWalls" value="SeparateFiles" checked>
				Deliver document text as separate files
			</label>
			<label class="radio">
				<input type="radio" name="textLevelOption" id="textLevelOption" value="PageLevelText">
				Page-level text file
			</label>
			<label class="radio">
				<input type="radio" name="textLevelOption" id="textLevelOption" value="DocumentLevelText" checked>
				Document-level text file
			</label>
			<label class="checkbox">
				<input type="checkbox" name="ocrOption" id="ocrOption" value="OcrOption">
				OCR the following file types
			</label>
		</div>
	</div>
</div>
