<div id="widget-view">
	<div class="row header-wrapper">
		<div class="col-sm-8">
			<h2>Widgets</h2>
			<p>Manage multi-field widgets</p>
		</div>
		<div class="col-sm-4">
			<button class="pull-right btn btn-primary">Button</button>
		</div>
	</div>

	<div class="row content-wrapper">
		<div class="col-sm-8">
			<section>
				<h4>
					Widgets <span class="badge">{{widgets.items.length}}</span>
					<span loading-spinner="widgets.inprogress">
						<span class="pull-right glyphicon glyphicon-refresh" aria-hidden="true" ng-click="widgets.load()"></span>
					</span>
				</h4>
				<button class="btn btn-primary" ng-click="create()" data-toggle="modal">Create New</button>
				<div class="modal hide fade" ng-include="'app/views/widget-detail.html'" id="editModal" role='dialog'></div>

				<ul class="list-group">
					<li class="list-group-item clearfix" ng-repeat="widget in widgets.items">
						<div class="pull-right glyphicon glyphicon-trash" aria-hidden="true" ng-click="widgets.delete(widget)"></div>
						<div>Name: {{widget.name}}</div>
						<div>Age: {{widget.age}}</div>
						<div>Color: {{widget.color}}
						<button class='pull-right btn btn-primary' ng-click="edit(widget)" data-toggle="modal">Edit</button>
					</li>
				</ul>
			</section>
		</div>
	</div>
</div>


