<div class="modal-header">
	<!--<button type="button" class="close" aria-hidden="true">×</button>-->

	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

	<h3 class="modal-title" ng-hide="new">Edit Widget: {{widget.name}}</h3>
	<h3 class="modal-title" ng-show="new">New Widget</h3>
</div>
<div class="modal-body">
	<form name="widgetForm">
		<div class="form-group" show-errors>
			<label for="widgetFormName">Name</label>
			<input id="widgetFormName" type="text" class="form-control" name="name" ng-model="widget.name" placeholder="Enter Name" required />
			<p class="help-block" ng-if="widgetForm.name.$error.required">The widget's name is required</p>
		</div>
		<div class="form-group" show-errors>
			<label for="widgetFormAge">Age</label>
			<input id="widgetFormAge" type="text" class="form-control" name="age" ng-model="widget.age" placeholder="Enter Age" required />
			<p class="help-block" ng-if="widgetForm.age.$error.required">The widget's age is required</p>
			<p class="help-block" ng-if="widgetForm.age.$error.min || widgetForm.age.$error.max">The widget's age is out of range</p>
		</div>
		<div class="form-group" show-errors>
			<label for="widgetFormColor">Color</label>
			<input id="widgetFormColor" type="text" class="form-control" name="color" ng-model="widget.color" placeholder="Enter Color" required />
			<p class="help-block" ng-if="widgetForm.color.$error.required">The widget's color is required</p>
		</div>
	</form>

	<div class="modal-footer">
		<button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="ok()">Save</button>
		<button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
	</div>
</div>
