<div id="widget-view">
	<div class="row header-wrapper">
		<div class="col-sm-8">
			<h2>Widgets</h2>
			<p>Manage multi-field widgets</p>
		</div>
		<div class="col-sm-4">
			<button class="pull-right btn btn-primary">Button</button>
		</div>
	</div>

	<div class="row content-wrapper">
		<div class="col-sm-8">
			<section>
				<h4>
					Widgets <span class="badge">{{widgets.items.length}}</span>
					<div loading-spinner="widgets.inprogress">
						<div class="glyphicon glyphicon-refresh" aria-hidden="true" ng-click="widgets.load()"></div>
					</div>
				</h4>
				<button class="btn btn-primary" ng-click="new()" data-toggle="modal" href="#editModal">Create New</button>

				<div class="modal hide fade" ng-include="'app/views/widget-detail.html'" id="editModal" role='dialog'></div>

				<ul class="list-group">
					<li class="list-group-item" ng-repeat="widget in widgets.items">
						<span class="pull-right glyphicon glyphicon-trash" aria-hidden="true" ng-click="widgets.delete(widget)"></span>
						<span>Name: {{widget.name}}</span><br />
						<span>Age: {{widget.age}}</span><br />
						<span>Color: {{widget.color}}</span>
						<button class='pull-right btn btn-primary' ng-click="edit(widget)" data-toggle="modal" href="#editModal">Edit</button>
					</li>
				</ul>
			</section>
		</div>
	</div>
</div>


