<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="repositorypath" value="..\packages" />
	</config>
	<packageRestore>
		<add key="enabled" value="True" />
		<!-- Allow NuGet to download missing packages -->
		<add key="automatic" value="True" />
		<!-- Automatically check for missing packages during build in Visual Studio -->
	</packageRestore>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<packageSources>
		<add key="KO NuGet Snapshot" value="http://artifactory.dev.ko.corp.altegrity.com/artifactory/api/nuget/nuget-libs-snapshot/" />
		<add key="KO NuGet Release" value="http://artifactory.dev.ko.corp.altegrity.com/artifactory/api/nuget/nuget-libs-release/" />
		<add key="NuGet official package source" value="https://nuget.org/api/v2/" />
	</packageSources>
	<disabledPackageSources>
	</disabledPackageSources>
	<activePackageSource>
		<add key="All" value="(Aggregate source)"  />
	</activePackageSource>
</configuration>