<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

	<alias alias="Report_Interface" type="Report.Api.Common.IReportRepository, Report.Api.Common"/>
	<alias alias="Report_Impl" type="Report.Data.ReportRepository, Report.Data"/>

	<alias alias="Environment_Interface" type="Report.Api.Common.IEnvironmentRepository, Report.Api.Common"/>
	<alias alias="Environment_Impl" type="Report.Data.EnvironmentRepository, Report.Data"/>

	<container>
		<register type="Report_Interface" mapTo="Report_Impl" />
		<register type="Environment_Interface" mapTo="Environment_Impl" />
	</container>

</unity>