<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

	<alias alias="Item_Interface" type="Report.Api.Common.IItemRepository, Report.Api.Common"/>
	<alias alias="Item_Impl" type="Report.Data.ItemRepository, Report.Data"/>

	<alias alias="Widget_Interface" type="Report.Api.Common.IWidgetRepository, Report.Api.Common"/>
	<alias alias="Widget_Impl" type="Report.Data.WidgetRepository, Report.Data"/>

	<alias alias="Folder_Interface" type="Report.Api.Common.IFolderRepository, Report.Api.Common"/>
	<alias alias="Folder_Impl" type="Report.Data.FolderRepository, Report.Data"/>

	<alias alias="Document_Interface" type="Report.Api.Common.IDocumentRepository, Report.Api.Common"/>
	<alias alias="Document_Impl" type="Report.Data.DocumentRepository, Report.Data"/>

	<container>
		<register type="Item_Interface" mapTo="Item_Impl" />
		<register type="Widget_Interface" mapTo="Widget_Impl" />
		<register type="Folder_Interface" mapTo="Folder_Impl" />
		<register type="Document_Interface" mapTo="Document_Impl" />
	</container>

</unity>