<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

	<alias alias="Item_Interface" type="Report.Api.Common.IItemRepository, Report.Api.Common"/>
	<alias alias="Item_Impl" type="Report.Data.ItemRepository, Report.Data"/>

	<alias alias="Widget_Interface" type="Report.Api.Common.IWidgetRepository, Report.Api.Common"/>
	<alias alias="Widget_Impl" type="Report.Data.WidgetRepository, Report.Data"/>

	<container>
		<register type="Item_Interface" mapTo="Item_Impl" />
		<register type="Widget_Interface" mapTo="Widget_Impl" />
	</container>

</unity>